*{
    box-sizing: border-box;
  }
  
body{
    background-color: pink;
    letter-spacing: 1px;
}

ul{
    list-style: none;
    padding: 0;
}

h1{
    text-transform: uppercase;
}
nav{
    background-color: purple;
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
}

a{
    text-decoration: none;
    color: white;
}

section{
    background-color: lightpink;
    width: 50%;
    position: relative;
    border: 2px solid purple;
}

#FrsSec{    
    top: 20px;
    left: 80px;
}

#ScdSec{    
    top: 30px;
    left: 110px;
}

.sec{
    margin-bottom: 50px;
}

#TrdSec{
    top: 40px;
    left: 140px;
    margin-bottom: 50px;
}

footer{
    background-color: purple;
    color: white;
    width: 100%;
    padding: 2px;
    padding-left: 20px;
}
